# Basics Practise

## Print formating, variables and datatypes

In [1]:
print("Hey")

Hey

In [2]:
name = "Shreya"
num = 123
flo = 12.3
boolean = True
print (name, num, flo, boolean)

Shreya 123 12.3 True

### Identifying DataType and TypeCasting

In [3]:
print(type(name), name, 
      type(num), num, 
      type(flo), flo, 
      type(boolean), boolean)

<class 'str'> Shreya <class 'int'> 123 <class 'float'> 12.3 <class 'bool'> True

## Playing with Lists, Tuples, Sets and Dicts

- Lists [ ] are mutable and can contain duplicates.
- Tuples ( ) are immutable/unchangeable.
- Sets { } are immutable and do not contain duplicates and do not support indexing or slicing.
- Dictionary { key : value } do not contain duplicates.

#### CRUD Operations

#### 1) Create

In [4]:
l1 = [1,2,3,4,2.29,3.34] #List
t1 = (4,5,7,3.34,2.342) #tuple
s1 = {1,2,3,3.23,4.232} #set
d1 = {'Name':'Shreya','Age':22,'Gender':'F'}  #dictionary

#### 2) Read

In [5]:
l1, t1 , s1 , d1  # Reading data normally

([1, 2, 3, 4, 2.29, 3.34],
 (4, 5, 7, 3.34, 2.342),
 {1, 2, 3, 3.23, 4.232},
 {'Name': 'Shreya', 'Age': 22, 'Gender': 'F'})

In [6]:
l1[-1], t1[2], d1['Age'] # Reading data using indexing

(3.34, 7, 22)

In [7]:
for i in s1:   # sets do not support indexing or slicing.
    print (i)

1
2
3
3.23
4.232

In [8]:
d1.keys() #gets all the keys

dict_keys(['Name', 'Age', 'Gender'])

In [9]:
d1.values() #gets all the values

dict_values(['Shreya', 22, 'F'])

#### 3) Update

In [10]:
print(l1)
l1[4] = 2.5   #updated a value
l1

[1, 2, 3, 4, 2.29, 3.34]

[1, 2, 3, 4, 2.5, 3.34]

In [11]:
l1.append(55) #inserted value at the end of the list
l1

[1, 2, 3, 4, 2.5, 3.34, 55]

In [12]:
l1.insert(2,10.5) #inserted value at desired location
l1

[1, 2, 10.5, 3, 4, 2.5, 3.34, 55]

In [13]:
s1.add(55)  #inserted a new value
s1

{1, 2, 3, 3.23, 4.232, 55}

In [14]:
d1['Color'] = 'Violet'  #inserted new value
d1

{'Name': 'Shreya', 'Age': 22, 'Gender': 'F', 'Color': 'Violet'}

In [15]:
d1.update({'Color' : 'Black'})  #updated a value
d1

{'Name': 'Shreya', 'Age': 22, 'Gender': 'F', 'Color': 'Black'}

#### 4) Delete

In [16]:
print(l1)    
del l1[-2]   # Deleted a specific value (this method can also be used for dicts)
l1

[1, 2, 10.5, 3, 4, 2.5, 3.34, 55]

[1, 2, 10.5, 3, 4, 2.5, 55]

In [17]:
l1.remove(2)
l1

[1, 10.5, 3, 4, 2.5, 55]

In [18]:
print(s1)
s1.discard(3.23)
s1

{1, 2, 3, 3.23, 4.232, 55}

{1, 2, 3, 4.232, 55}

In [19]:
print(d1)
d1.pop('Color') # deleted a particular item (Can also be used for lists)
d1

{'Name': 'Shreya', 'Age': 22, 'Gender': 'F', 'Color': 'Black'}

{'Name': 'Shreya', 'Age': 22, 'Gender': 'F'}

In [20]:
d1.popitem()  # deleted last item 
d1

{'Name': 'Shreya', 'Age': 22}

In [87]:
d1.clear() # empties the entire dict (Can also be used for lists)
d1

{}

## Conditions & Loops

In [21]:
if 1 in l1:
    print ("1 is in l1")
elif (l1[1]==2):
    print ("2 is in l1")    
else :
    print ("Not Found")

1 is in l1

In [22]:
for items in l1:
    print(items)
    
    if items == 1:
        print ("1 is in l1 \n")
        continue    # executes the next line outside if block
    elif items == 2:
        print ("2 is in l1 \n")
        break      # exits the for loop 
    else:
        pass       # place holder to do nothing
    
    print("Statement after continue\n")

1
1 is in l1

10.5
Statement after continue

3
Statement after continue

4
Statement after continue

2.5
Statement after continue

55
Statement after continue

In [23]:
num = 0

while True:
    print("This is {}".format(num +1))    #String Formatting
    num += 1    
    
    if num == 10:
        break

This is 1
This is 2
This is 3
This is 4
This is 5
This is 6
This is 7
This is 8
This is 9
This is 10

### Looping Through Dictionary

In [34]:
d1

{'Name': 'Shreya', 'Age': 22, 'Gender': 'F'}

In [39]:
for key in d1.keys():
    print(key)

Name
Age
Gender

In [37]:
for value in d1.values():
    print(value)

Shreya
22
F

In [32]:
for keys,values in d1.items():  
    print("Key = {}\nValue = {}\n".format(keys,values))

Key = Name
Value = Shreya

Key = Age
Value = 22

Key = Gender
Value = F

### List Comprehenstions

In [42]:
print (l1)
l2 = [item+5 for item in l1]  # building a new list / storing values in new list
l2

[1, 10.5, 3, 4, 2.5, 55]

[6, 15.5, 8, 9, 7.5, 60]